* {
  box-sizing: border-box;
}

body {
  width: 1000px;
}

header {
  background: gray;
  border: 1em dashed orange;
  padding: 5%;
  color: white;
}

footer {
  clear: both;
  background: green;
  border: 1em dotted gray;
  padding: 5%;
  color: white;
}

.column-1 {
  float: left;
  width: 50%;
  background: red;
  padding: 5%;
  color: white;
}

.column-2 {
  float: right;
  width: 50%;
  background: blue;
  padding: 5%;
  padding-bottom: 8.8%;
  color: white;
}